.DS_STORE
*~
*.swp
.vagrant
.tmp/
.librarian/

passwords

hiera/*.yml
hiera/*.yaml
hiera/*.json
!hiera/*.yaml.example
hiera/*.yaml*

manifests/*.pp
!manifests/development.pp
!manifests/docker.pp
!manifests/production.pp

modules/

Vagrantfile
