additional_packages:
  - imagemagick

postgresql_roles:
  deployer:
    login:         true
    createdb:      true
    replication:   true
    # password = "foobar"
    # md5 of password + username: md56a7cf5e42712e5a19e5ea884d8644ef8
    # easily determined computed on the command line with:
    # $> scripts/password_hash.sh deployer foobar
    password_hash: "md56a7cf5e42712e5a19e5ea884d8644ef8"
  vagrant:
    login:         true
    createdb:      true
    replication:   true
    # password = "foobar"
    # md5 of password + username: md54bed967bd13dba810255375f600eceb3
    # easily determined computed on the command line with:
    # $> scripts/password_hash.sh vagrant foobar
    password_hash: "md54bed967bd13dba810255375f600eceb3"
postgresql_databases:
  revtilt_production:
    owner: "deployer"
  my_database:
    owner: "vagrant"
postgres_password: password12345

purge_packages:
  # -imagemagick
    
rubies: 
  - 2.1.9
  # - 2.3.0
default_ruby: 2.1.9
# default_rails_env: production

s3:
  # # http://aws.amazon.com ==> 'security credentials'
  # access_key: "123"
  # secret_key: "abc"
  # gpg_passphrase: "foobar" # scripts/random_password.sh if you're having trouble thinking of one
  # bucket: vps_database_backups
  # user: deployer # system user not amazon user

users:
  deployer:
    comment:    Deployer User
    # figure out by setting the password with passwd and then checking /etc/shadow
    # default is to have no password (ie one that can't be inputted)
    password:   NP
    ensure:     present
    shell:      /bin/bash
    groups:     ["deployers"]
    # # use this instead if installing docker
    # groups:     ["deployers", "docker"]
ssh_keys:
  # Find this ssh key in `~/.ssh/id_rsa.pub` - be sure to truncate the prefix `ssh-rsa`
  # Or for users with Github accounts you can use https://github.com/cyrusstoller.keys
  deployer_key1:
    user: deployer
    key: "AAAAB3NzaC1yc2EAAAABIwAAAQEA9Y9X+SMTIass3X2CmxnZ92d2IwhgFow86JBXju52pxOOXgEJadoK42A8luhvazKgaNkoThmeu/NzEwFYM51lDxXYzh/sUsZjLsFmoJiTuZORlKXZUu8K4k1IFSnR81B69js5gRPvTHTWm4JFzt6XG2fMFi/Q2BPvrMAuBcOE1Dz1ypXf2W5Qraa4fyl4Ayd+rBRX2o1tOSpO9AhBjTKCx0Y43/rml6WMgfSc1dd9+TtZgWzs/dpln75UgLhWrqCulG49fDvrnQGBmreNpVLQejJmsNjWxGbDLrevXUyeSKie3sZmzJdU1uh8/40ij/tRULSY6bhfTw+atcYaOU3dOw=="
  deployer_key2:
    user: deployer
    key: "AAAAB3NzaC1yc2EAAAADAQABAAABAQC/6n0dadyPEga30OEi+mE7pPyxtBqRNKqz0508j6/b4ql6wTUV/dY1Oju4eWg7oQ1R/VgSNZl1djkM0hLWTZtqAGYVEBx0nRIQFgpB+qC70BpR/oWPnv37ypaOg14hMjFqz1IptvlGEoe7bHHrrBEhaaCmtiu/K5gzfbCLxYvCihNmpUoNmp+1UOsjjP2QbS+tf1pH3JtkHgnUo6T+mCb5bJqynu8PWwMyfVOl8Rf3CyP/V0+rO3KudAqRHBBB+TxOVp7l4cwNpiGpwRFYSkWbq7wpMSVPlBYwdPe+e1U1ykwS9Nli0cE1f2zE/orgGgt5D1KFxBFtGWw8yAuaVOsP"
